---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* default syntax highlighting (base16) */
// $base00: #fafafa !default;
// $base01: #073642 !default;
// $base02: #586e75 !default;
// $base03: #657b83 !default;
// $base04: #839496 !default;
// $base05: #586e75 !default;
// $base06: #eee8d5 !default;
// $base07: #fdf6e3 !default;
// $base08: #dc322f !default;
// $base09: #cb4b16 !default;
// $base0a: #b58900 !default;
// $base0b: #859900 !default;
// $base0c: #2aa198 !default;
// $base0d: #268bd2 !default;
// $base0e: #6c71c4 !default;
// $base0f: #d33682 !default;

$max-width:1440px; //MAIN CONTENT WIDTH

$base00: #263238;
$base01: #2e3c43;
$base02: #314549;
$base03: #546e7a;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: white; // Default #ffcb6b;
$base0b: #629755;
$base0c: #FFFF44;//Yellow  //#89ddff;
$base0d: #9876AA;//#9e4bc6;//#82aaff;
$base0e: orange;//#c792ea;
$base0f: #ff5370;

// #9876AA intellij purple




// // Color tweaks
// $theme-orange               : #d28445 !default;
// $theme-grey                 : #2c3e50 !default;
//
// $body-color                 : #fff !default;
// $navigation-color           : $theme-grey !default;
// $link-color                 : white !default;
// $link-color-hover           : grey !default;
// $masthead-link-color        : #fff !default;
// $masthead-link-color-hover  : $theme-orange !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/*
   Footer size
   ==========================================================================
*/
.page__footer footer {
  margin-top: 0.1em;
  padding: 0 1em 0.5em;
}

.page__footer-follow li {
  padding-bottom: 0;
  margin-bottom: 0;
}

/*
   SYNTAX HIGHLIGTER CUSTOMISATION
   ==========================================================================
*/

.highlight .kt {
color: orange;
}

.highlight .nf {
  color: #FFC66D;
}

.highlight .o {
  color: white;
}

div.highlighter-rouge, figure.highlight {
  font-size: 0.7em;
  line-height: 1.5
}

/*
   POST PREVIEW
   ==========================================================================
*/
h3.archive__date {
  margin: 0 0 0 0;
  font-size: $type-size-6;
  color: $light-gray;
  font-style: normal;
  border-bottom: none;

  + .list__item .archive__item-title {
    margin-top: 0em;
  }
}

.archive__item-title {
  margin-top: 0em;
  color: white ;
}

.archive__item-title a{
  color: #D3D3D3;
  // color: white;
}

.results .archive__item-title a{
  color: grey;
}

.archive__item_titlecontainer {
  // border-radius: $border-radius
  color:#F5F5F5;

  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 8px;
  width:100%;
}

.archive__item-teaser, .archive__item-teaser-imageclickhandler {
  // display: inline-block;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 240px;
  width: 100%;
}

.archive__item-teaser-imageclickhandler {
  position: absolute;
  top: 0;
}

.archive__item-excerpt {
  display: block;
}

.archive__item:hover {
  .archive__item-title {
    color: $lighter-gray  ;
    text-decoration: none;
  }
}

.list__item {
  margin-bottom: 2em;
}

/*
   REMOVE HEIGHT RESTRICTION SIDEBAR
   ==========================================================================
*/
.sidebar {
  &.sticky {
    height: auto;
  }
}

/*
   PAGE
   ==========================================================================
*/
   .page__content {
     h2 {
       border-bottom: none;
     }

     a:not(.btn) {
       text-decoration: none;
     }
   }


/*
NAVIGATION BAR
==========================================================================
*/
.site-title {
  font-weight: normal;
}


// .masthead {
//   background-color: #D3D3D3;
//   border-bottom: 1px solid #D3D3D3;
// }
//
// .greedy-nav {
//   background: #D3D3D3;
// }
